@model Exam


<div class="text-center">
    <div class="position-relative">

        <div class="position-absolute banner-absolute-position sub-banner" style="width:100%; background-image: url('/images/web-images/exam.jpg');">
        </div>
        <div class="position-absolute banner-absolute-position" style="opacity:0.5; background-color:white;width:100%;">
        </div>

        <div class="position-relative banner-absolute-position" style="width:100%;">
            <div class="banner d-flex justify-content-center align-items-center">
                <div>
                    <h6 class="text-lg-center">@Model.CourseName</h6>
                    <h2 class="text-center text-lg-center mt-2">@Model.ExamName</h2>
                </div>
            </div>
        </div>
    </div>

</div>


<div>
    <div>
        
       

        <div class="p-3 shadow-sm border-secondary border-2" style="border-radius:10px;border-color:black">
            <b>Year:</b> @Model.Year
        </div>

        <div class="mt-3">
            Exam Files
        </div>
        
            @{

                for (int i = 0; i < Model.ExamFiles.Count(); i++)
                {
                 
                        
                        <div class="border mt-2 p-2 align-items-center d-flex justify-content-between shadow-sm border-secondary border-1" style="border-radius:10px;border-color:black">
                           <div>
                                File @(i + 1)
                           </div>
                          
                    <a class="btn btn-primary" href="/@Model.ExamFiles[i].FileUrl" download="@(Model.ExamName)-@(i+1).pdf">
                            Download
                           </a>
                        </div>
                    
                    
                }

            }


        

    </div>

</div>